//- 노션 스타일 사이드바: 닫으면 완전 숨김 + 메인 콘텐츠 확장
aside#sidebar(
  :class='sidebar ? "left-0 w-s" : "-left-full xl:w-0 xl:overflow-hidden"'
  class='group h-full fixed top-0 overflow-hidden z-[9000] transition-all duration-300 p-0 bg-h-200 dark:bg-h-700 xl:relative xl:left-0')
  
  //- 접기 버튼 (Teleport로 Body로 이동, 사이드바 열렸을 때 표시)
  template(x-teleport='body')
    button.sidebar-collapse-btn(
      x-show='sidebar'
      @click='sidebar = false'
      class='hidden xl:flex fixed top-1/2 -translate-y-1/2 items-center justify-center rounded-r-md bg-h-200 dark:bg-h-700 text-h-500 hover:text-h-800 dark:hover:text-h-200 hover:w-10 transition-all z-[9999] shadow-md border border-l-0 border-h-300 dark:border-h-600 w-8 h-12'
      style='left: var(--h-s, 256px)'
      x-transition:enter='transition ease-out duration-300'
      x-transition:enter-start='opacity-0 -translate-x-full'
      x-transition:enter-end='opacity-100 translate-x-0'
      aria-label='사이드바 접기'
    )
      i(class='fa-solid fa-chevron-left')

  ul.wrap(class='flex flex-col gap-y-6 overflow-x-hidden overflow-y-scroll h-full w-[calc(theme(spacing.s)+theme(spacing.8))] py-6 border-box xl:relative no-scrollbar')
    //- 고정 아이템 (사용자 요청: 프로필 - 링크 - 방문자수 - 검색 - 카테고리 만 유지)
    
    //- 프로필
    include Sidebar/Profile
    
    //- 링크
    include Sidebar/MyLinks
    
    //- 방문자 수
    include Sidebar/Counter
    
    //- 검색
    include Sidebar/Search
    
    //- 카테고리
    include Sidebar/Category
    
    //- 가변 아이템 (티스토리 관리자 페이지에서 설정 가능)
    s_sidebar
      s_sidebar_element
        // 공지사항
        include Sidebar/Notice
      s_sidebar_element
        // 인기 글
        include Sidebar/PopularPosts
      s_sidebar_element
        // 태그
        include Sidebar/RandomTags
      s_sidebar_element
        // 최근 댓글
        include Sidebar/RecentComments
      s_sidebar_element
        // 최근 글
        include Sidebar/RecentPosts
    
    include Sidebar/Copyright

  //- 외부 펼치기 핸들 (Teleport로 Body로 이동)
  template(x-teleport='body')
    button.sidebar-expand-handle(
      x-show='!sidebar'
      @click='sidebar = true'
      class='hidden xl:flex fixed top-1/2 -translate-y-1/2 left-0 z-[9999] w-6 h-16 bg-h-200 dark:bg-h-700 items-center justify-center rounded-r-lg shadow-md text-h-400 hover:text-h-800 dark:hover:text-h-200 hover:w-8 transition-all duration-200 cursor-pointer border border-l-0 border-h-300 dark:border-h-600'
      aria-label='사이드바 펼치기'
      x-transition:enter='transition ease-out duration-300'
      x-transition:enter-start='opacity-0 -translate-x-full'
      x-transition:enter-end='opacity-100 translate-x-0'
    )
      i(class='fa-solid fa-chevron-right text-xs')

  template(x-teleport='body')
    #mask(
      x-show='sidebar'
      x-transition:enter='transition ease-linear duration-300'
      x-transition:enter-start='opacity-0'
      x-transition:enter-end='opacity-100'
      x-transition:leave='transition ease-linear duration-300'
      x-transition:leave-start='opacity-100'
      x-transition:leave-end='opacity-0'
      @click='sidebar = false'
      class='fixed top-0 left-0 w-screen h-screen bg-h-900/50 backdrop-blur z-[8000] duration-200 xl:hidden')

style
  :postcss
    #sidebar {
      .el {
        @apply w-s px-5;

        h2 {
          @apply text-h-800 mb-5 font-bold text-sm dark:text-h-200;
        }

        i {
          @apply text-h-400;
        }

        a:not(.link_tit) {
          @apply text-h-400 hover:text-h-800 dark:hover:text-h-200;
        }
      }
    }
